 <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>

<div class="list-group">
        <a class="list-group-item" data-remote="true" href="#sub_categoria_4" id="categoria_4" data-toggle="collapse" data-parent="#sub_categoria_4" style="padding-left: 25px;">
          <span><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Member Registration</span>
          
        </a>

        <div class="collapse list-group-submenu" id="sub_categoria_4">
          
          <a routerLink="registerstudent" class="list-group-item sub-item" data-parent="#sub_categoria_4" style="padding-left: 50px;"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Student</a>
          <a href="#" class="list-group-item sub-item" data-parent="#sub_categoria_4" style="padding-left: 50px;"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> Teacher</a>
          <a href="#" class="list-group-item sub-item" data-parent="#sub_categoria_4" style="padding-left: 50px;"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Admin</a>
          
          
        </div>
        
          <a class="list-group-item" data-remote="true" href="#" id="categoria_7" style="padding-left: 25px;">
          
          <span><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Payment</span>
        </a>

          <a routerLink="/" class="list-group-item" data-remote="true" href="#" id="categoria_6" style="padding-left: 25px;">
          <span class="fa fa-graduation-cap fa-lg fa-fw"></span>
          <span ><span class="glyphicon glyphicon-user" aria-hidden="true"></span> About</span>
        </a>
 
      </div>
            
          </ul>

         



